@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url(./root.css); 

* {
    padding: 0;
    scroll-behavior: smooth;        
    margin: 0;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}
/* -----------------------------------------font-family */
@font-face {
    font-family: 'ModernoFBComp';
    src: url(../font/modernofbcomp-semibold.otf);
}
@font-face{
    font-family: 'PerpetuaTitlingMT';
    src: url(../fonts/Perpetua_Titling_MT_Std_Regular.otf);
}
.font-Perpetua{
    font-family: 'PerpetuaTitlingMT';
}
.font-ModernoFBComp {
    font-family: 'ModernoFBComp';
}
.font-Noto {
    font-family: "Noto Serif", serif;
}
/* -----------------------------------------font-family */

/* -----------------------------------------padding */

.pt-13 {
    padding-top: 13px;
}

.pb-14 {
    padding-bottom: 14px;
}
/* -----------------------------------------padding */

/* -----------------------------------------gap */

.gap-7 {
    gap: 7px;
}
/* -----------------------------------------gap */


/* ----------------------------------------margin */
.mx-31 {
    margin: 0 31px;
}
/* ----------------------------------------margin */
