@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url(./root.css); 

* {
    padding: 0;
    scroll-behavior: smooth;        
    margin: 0;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}
/* -----------------------------------------font-family */
@font-face {
    font-family: 'ModernoFBComp';
    src: url(../font/modernofbcomp-semibold.otf);
}
@font-face{
    font-family: 'PerpetuaTitlingMT';
    src: url(../fonts/Perpetua_Titling_MT_Std_Regular.otf);
}
.font-Perpetua{
    font-family: 'PerpetuaTitlingMT';
}
.font-ModernoFBComp {
    font-family: 'ModernoFBComp';
}
.font-Noto {
    font-family: "Noto Serif", serif;
}
/* -----------------------------------------font-family */

/* -----------------------------------------padding */
.py-21 {
    padding: 21px 0;
}
.pt-13 {
    padding-top: 13px;
}
.pt-25 {
    padding-top: 25px;
}

.pb-14 {
    padding-bottom: 14px;
}
.pb-15 {
    padding-bottom: 15px;
}
/* -----------------------------------------padding */

/* -----------------------------------------gap */

.gap-7 {
    gap: 7px;
}
.gap-11 {
    gap: 11px;
}
.gap-20 {
    gap: 20px;
}

.gap-18 {
    gap: 18px;
}
.gap-55 {
    gap: 55px;
}
.gap-116 {
    gap: 116px;
}
.gap-178 {
    gap: 178px;
}
/* -----------------------------------------gap */


/* ----------------------------------------margin */
.mx-31 {
    margin: 0 31px;
}
/* ----------------------------------------margin */

/* -----------------------------------------width */

.max-w-1140 {
    max-width: 1140px;
}
.max-w-1144{
    max-width: 1144px;
}

/* -----------------------------------------width */


/* -------------------------------------------btn */

.btn-1 {
    padding: 12px 16px;
    background-color: var(--yellow);
    border: 2px solid var(--black);
    transition: all 300ms linear;

}

.btn-1:hover {
    border: 2px solid var(--yellow);
    color: var(--yellow);
    background-color: transparent;

}
/* -------------------------------------------btn */

/* -------------------------------------------border */
.border-top {
    border-top: 2px solid var(--black) !important;
}

.border-bottom {
    border-bottom: 2px solid var(--black) !important;
}

.border-left {
    border-left: 2px solid var(--black) !important;

}

.border-right {
    border-right: 2px solid var(--black) !important;

}
/* -------------------------------------------border */













.duration-300{
    transition: all 300ms linear;
    
}
.social-media-link:hover{
    transform: translateY(-7px);
}
.cursor-pointer {
    cursor: pointer;
}
.slider-card {
    padding: 38px 16px 36px 16px;
}












/* ----------------------------navbar */
.hamburger {
    display: none;
}

@media(max-width: 992px) {
    .menulist {
        position: fixed;
        right: -100%;
        top: 0;        
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/25th.png);
        width: 100%;
        height: 100vh;
        gap: 32px;
        flex-direction: column;
        z-index: 5;
        transition: all 300ms ease-in-out;
    }
    .menulist ul li a{
        border: 2px solid transparent !important;
    }

    .menulist ul {
        display: flex;
        align-items: center;
        flex-direction: column;        
    }

    .menulist.nav-active {
        right: 0;
    }

    .hamburger {
        display: block;
        z-index: 6;
    }

    .hamburger.nav-active .bar2 {
        opacity: 0;
        transform: translateX(-10px);
    }

    .hamburger.nav-active .bar1 {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.nav-active .bar3 {
        transform: translateY(-9px) rotate(-45deg);
    }

    .bar1,
    .bar2,
    .bar3 {
        display: block;
        width: 29px;
        height: 3px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        background-color: var(--black);
    }
}

/* ----------------------------navbar */




@media (max-width: 575px) {
    #myBtn{
        bottom: 12px;
        right: 12px;
    }
}

@media (min-width: 575px) {
    .pt-sm-60{
        padding-top: 60px !important;
    }
    .pb-sm-60{
        padding-bottom: 60px !important;
    }
    .slider-card {
        padding: 48px 26px 46px 26px;
    }
    .accordion-item {        
        padding: 32px 44px 24px 30px;        
    }
    
}

@media (min-width: 768px) {}
@media (min-width: 992px) {
    .pt-lg-32 {
        padding-top: 32px !important;
    
    }
    .pb-lg-24 {
        padding-bottom: 24px !important;
    
    }
    .pt-lg-67 {
        padding-top: 67px !important;
    
    }
    .pb-lg-64 {
        padding-bottom: 64px !important;
    
    }
    .pl-lg-31 {
        padding-left: 31px !important;
    }
    .pt-lg-88 {
        padding-top: 88px !important;
    
    }
    .pb-lg-89 {
        padding-bottom: 89px !important;
    }
    .pt-lg-99 {
        padding-top: 99px !important;
    }
    .max-w-lg-475 {
        max-width: 475px;
    }
    .pb-lg-200{
        padding-bottom: 200px !important;
    }
    .max-w-lg-438 {
        max-width: 438px !important;
    }
    .pl-lg-13 {
        padding-left: 13px !important;
    }
    .pt-lg-89 {
        padding-top: 89px !important;
    
    }
    .pb-lg-90 {
        padding-bottom: 90px !important;
    }
    .border-lg-left{
        border-left: 2px solid var(--black);
    }
    
}

@media (min-width: 1200px) {
    .pb-xl-577{
        padding-bottom: 577px !important;
    }
}

@media (min-width:1200px) {}